* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {font-family: "Halyard Text Regular";
    src: url("89248b0583721153668df86453b579de.eot"); /* IE9*/
    src: url("89248b0583721153668df86453b579de.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("89248b0583721153668df86453b579de.woff2") format("woff2"), /* chrome、firefox */
    url("89248b0583721153668df86453b579de.woff") format("woff"), /* chrome、firefox */
    url("89248b0583721153668df86453b579de.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("89248b0583721153668df86453b579de.svg#Halyard Text Regular") format("svg"); /* iOS 4.1- */
}
body {
    background: #d4d2d2;
}
.container {
    max-width: 1180px;
    width: 100%;
    margin: auto;
}
.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section {
    max-width: 1600px;
    width: 100%;
    margin: auto;
    background: #FFFFFF;
}
.section__header {
    padding-top: 22px;
}
.logo {
    max-width: 84px;
}
.h1 {
    color: #1E266D;
    text-align: center;
}
.h3 {
    min-height: 59px;
    color: #1E266D;
    font-family: Halyard Display;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 125%;
}
.p {
    color: #455880;
    text-align: center;
}   
.nav {
    font-family: Halyard Text;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 80px;
    text-decoration: none;
    margin-right: 45px;
    color: #1E266D;
}
.tel_button {
    max-width: 310px;
    width: 100%;
}
.tel {
    margin-right: 34px;
    font-family: Halyard Text;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 80px;
    color: #1E266D;
}
.button--primary {
    color: #FFFFFF;
    background: #3751FF;
}
.button_contact {
    max-width: 113px;
    width: 100%;
    padding-left: 16px;
    padding-right: 14px;
    font-family: Halyard Text;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    text-align: center;
}
.buttons {
    border-radius: 100px;
    border: none;
    cursor: pointer;
    text-align: center;
}
.section__promo {
    min-height: 876px;
    padding-top: 144px;
    background: linear-gradient(180deg, rgba(242, 249, 255, 0.12) 0%, #F2F9FF 100%);
}
.h1__promo {
    text-align: center;
    color: #1E266D;
    font-family: Halyard Display;
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 105%;
}
.p__promo {
    margin-top: 27px;
    margin-bottom: 29px;
    text-align: center;
    font-family: Halyard Text;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 150%;
    color: #455880;
}
.button_block {
    max-width: 370px;
    margin: auto;
}
.button_buy {
    max-width: 148px;
    width: 100%;
    padding: 17px 18px;
    font-family: Halyard Text;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
}
.button--secondary {
    color: #455880;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
}
.button_see {
    max-width: 199px;
    width: 100%;
    padding-left: 29px;
    padding-right: 29px;
    font-family: Halyard Text;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 50px;
}
.promo_img {
    position: absolute;
    top: 530px;
    left: 480px;
    max-width: 977px;
    width: 100%;
}
.section__pictures {
    padding-top: 180px;
}
.span__pictures {
    font-family: Halyard Text;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 27px;
    color: rgba(69, 88, 128, 0.5);
    margin-bottom: 50px;
}
.logo-studio {
    max-width: 110px;
    width: 100%;
    margin-right: 72px;
}
.section__work {
    background: #fff url(../img/Graphic1.png) no-repeat top 160px left 205px;
    padding-top: 162px;
    padding-bottom: 150px;
}
.part {
    max-width: 405px;
    width: 100%;
    border-bottom: 1px solid rgba(69, 88, 128, 0.2);
    margin-bottom: 41px;
}
.h1__work {
    font-family: Halyard Display;
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 105%;
}
.block__span {
    justify-content: center;
}
.full_work {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-top: 122px;
}
.div_work {
    max-width: 290px;
    width: 100%;
}
.p__work {
    text-align: left;
    min-height: 134px;
    font-family: Halyard Text;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
}
.part_end {
    border: none;
}
.mini-logo1 {
    margin-left: 5px;
    margin-top: 3px;
}
.back {
    display: flex;
    min-height: 58px;
    max-width: 58px;
    width: 100%;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    margin-bottom: 134px;
}
.back_1 {
    background: #B5F2E3;
}
.back_2 {
    background: #FACFCA;
}
.back_3 {
    background: #F8AEC3;
}
.section__meets {
    min-height: 1001px;
    padding-top: 139px;
    background: #FFF9EA url(../img/Graphic3.png) no-repeat bottom;
}
.block__meets {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.h1__meets {
    font-family: Halyard Display;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
}
.p__meets {
    font-family: Halyard Text;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 150%;
    padding-top: 40px;
    padding-bottom: 40px;
}
.section__what {
    padding-top: 232px;
}
.h1__what {
    font-family: Halyard Display;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 60px;
}
.what_part {
    padding-top: 38px;
    padding-bottom: 32px;
    max-width: 372px;
    width: 100%;
    border: 1px solid rgba(69, 88, 128, 0.2);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.p__what {
    text-align: left;
    max-width: 211px;
    font-family: Halyard Text;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;
}
.img__what {
    max-width: 64px;
    margin-top: 39px;
    margin-bottom: 23px;
}
